- var fechaHoy = new Date().getFullYear();
- var estado = estadoRegistro;

doctype html
html(lang=es)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='theme-color' content='#db5945')
        meta(name='apple-mobile-web-app-status-bar-style' content='#db5945')

        title Registro | SnapCar

        link(rel='icon' type='image/png' href='/img/favicon.png')
        link(rel='icon' sizes='192x192' href='/img/favicon-192x192.png')

        link(href='//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i' rel='stylesheet')
        link(href='//fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
        link(href='/css/bootstrap.min.css' rel='stylesheet')
        link(href='/css/snapcar-custom.min.css' rel='stylesheet')
    body
        nav.navbar.navbar-snapcar
            .container
                .row.navbar-header
                    .col-md-12
                        a.navbar-brand(href='#')
                            img.center-block(src='/img/snapcar-logo-arti.svg' width='180' title='SnapCar')

        .container
            .row
                .col-md-12
                    ol.breadcrumb
                        li
                            a(href='#') SnapCar
                        li.active Registro
            .row
                .col-md-12
                    h2#estado
                        //-
                            if estado === 'exito'
                                i.fa.fa-check-circle
                                |  Gracias por confirmar tu email. Ahora podés ingresar a tu cuenta.
                            else if estado === 'confirmado'
                                i.fa.fa-exclamation-circle
                                |  Ya confirmaste tu email. Ingresá a tu cuenta.
                            else if estado === 'declinado'
                                i.fa.fa-exclamation-circle
                                | Para poder utilizar SnapCar debes aceptar nuestros términos y condiciones y nuestra política de privacidad.
                            else
                                i.fa.fa-exclamation-circle
                                |  Error al validar tu email.
                    p Tu ID de registro es 
                        b #{idRegistro}
                        | .

        footer.footer
            .container
                .row
                    .col-xs-8.col-md-10
                        small.text-muted SnapCar &reg; #{fechaHoy}
                            span.hidden-xs | Todos los derechos reservados
                    .col-xs-2.col-md-1
                        a.social-icons(href='#' title='Facebook')
                            i.fa.fa-facebook-official.fa-2x
                    .col-xs-2.col-md-1
                        a.social-icons(href='#' title='Twitter')
                            i.fa.fa-twitter.fa-2x

        #loading-wrap
            .loading
                img(src='/img/loader.svg' width='40')

        .modal.fade#modalLegales(tabindex='-1' role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h4.modal-title Política de Privacidad y Términos y Condiciones
                    .modal-body
                        p.bg-info Antes de comenzar a utilizar el servicio usted debe aceptar nuestra
                            b  Política de Privacidad 
                            | y nuestros
                            b  Términos y Condiciones
                            | .
                        .panel-group#accordion(
                            role='tablist'
                            aria-multiselectable='true'
                        )
                            //- Política de Privacidad
                            .panel.panel-default
                                .panel-heading(
                                    role='tab'
                                    id='privacidadHeading'
                                )
                                    h4.panel-title
                                        a(
                                            role='button'
                                            data-toggle='collapse'
                                            data-parent='#accordion'
                                            aria-expanded='true'
                                            aria-controls='collapsePrivacidad'
                                            href='#collapsePrivacidad'
                                        ) Política de Privacidad
                                .panel-collapse.collapse.in#collapsePrivacidad(
                                    role='tabpanel'
                                    aria-labelledby='privacidadHeading'
                                )
                                    .panel-body
                                        iframe(src='http://snapcar.com.ar/docs/politicaPrivacidad.html')
                            //- Términos y Condiciones
                            .panel.panel-default
                                .panel-heading(
                                    role='tab'
                                    id='condicionesHeading'
                                )
                                    h4.panel-title
                                        a(
                                            role='button'
                                            data-toggle='collapse'
                                            data-parent='#accordion'
                                            aria-expanded='true'
                                            aria-controls='collapseCondiciones'
                                            href='#collapseCondiciones'
                                        ) Términos y Condiciones
                                .panel-collapse.collapse#collapseCondiciones(
                                    role='tabpanel'
                                    aria-labelledby='condicionesHeading'
                                )
                                    .panel-body
                                        iframe(src='http://snapcar.com.ar/docs/terminosYCondiciones.html')
                    .modal-footer
                        form(method='post' action='/registro/confirma')
                            input(
                                type='hidden'
                                name='confirma'
                                value='1'
                            )
                            button.btn.btn-default(
                                                    type='submit'
                                                    data-dismiss='modal'
                                                    disabled='disabled'
                                                    ) No acepto
                            button.btn.btn-primary(
                                                    type='submit'
                                                    data-dismiss='modal'
                                                    disabled='disabled'
                                                    ) Acepto

        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/custom.js')