- var fechaHoy = new Date().getFullYear();

doctype html
html(lang=es)
    head
    body(width='100%' bgcolor='#EFEFEF' style={'font-family': 'Helvetica, Arial, Verdana, Trebuchet MS', 'color': '#000000', 'margin': '0', 'mso-line-height-rule': 'exactly'})
        center(style={'width': '100%', 'background': '#EFEFEF'})
            div(style={'max-width': '600px', 'margin': 'auto'})
                table#header(border='0' cellpadding='0' cellspacing='0' width='100%')
                    tr
                        td(align='left' valign='top' style={'display': 'block', 'margin-top': '20px', 'margin-bottom': '20px'})
                            img(
                                src=baseUrl + '/img/snapcar-email-header.png'
                                width='210'
                                height='58'
                                )
                            style={display: 'block'}
                table#content(border='0' cellpadding='20' cellspacing='0' width='100%')
                    tr
                        td(align='center' valign='top' bgcolor='#FFFFFF')
                            h1 Invitaci贸n SnapCar
                            p Usted ha sido invitado como conductor adicional por #{nombreUsuario}
                            p
                                b Email Usuario #{emailUsuario}
                            p
                                b Email Invitado #{emailInvitado}
                table#call-to-action(border='0' cellpadding='10' cellspacing='0' width='100%')
                    tr
                        td(align='center' valign='top' bgcolor='#FFFFFF')
                            div(style={
                                'background-color': '#000000',
                                'height': 'auto',
                                'width': '60%',
                                'line-height': 'auto'
                                })
                                b
                                    a(
                                        href='https://api.appcar.com.ar/confirma?id=' + idInvitacion
                                        style={
                                            'color': '#FFFFFF',
                                            'font-size': '1.5em',
                                            'font-weight': 'normal',
                                            'text-decoration': 'none',
                                            'padding': '5px 10px'
                                            }
                                    ) Aceptar Invitaci贸n
                table#footer(border='0' cellpadding='20' cellspacing='0' width='100%')
                    tr
                        td(align='center' valign='top' style={'background-color': '#006BFF', 'height': '20px'})
                            p(style={color: '#FFFFFF', 'text-align': 'left', 'padding-left': '20px'}) SnapCar #{fechaHoy} - Todos los derechos reservados

//
        table(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style={'background-color': '#EFEFEF'})
            tr
                td(align='center' valign='top')
                    table#container(border='0' cellpadding='10' cellspacing='0' width='600' style={'margin-top': '20px', 'margin-bottom': '20px'})
                        tr
                            td(align='center' valign='top')
                                table#header(border='0' cellpadding='0' cellspacing='0' width='100%')
                                    tr
                                        td(align='left' valign='top' style={display: 'block'})
                                            img(
                                                src=baseUrl + '/img/snapcar-email-header.png'
                                                width='322'
                                                height='89'
                                                )
                                            style={display: 'block'}
                        tr
                            td(align='center' valign='top')
                                table#container(border='0' cellpadding='10' cellspacing='0' width='600' style={'background-color': '#FFFFFF'})
                                    tr
                                        td(align='center' valign='top')
                                            table#content(border='0' cellpadding='20' cellspacing='0' width='100%')
                                                tr
                                                    td(align='center' valign='top')
                                                        h1 Invitaci贸n SnapCar
                                                        p Usted ha sido invitado como conductor adicional por #{nombreUsuario}
                                                        p
                                                            b Email Usuario #{emailUsuario}
                                                        p
                                                            b Email Invitado #{emailInvitado}
                                    tr
                                        td(align='center' valign='top')
                                            table#content(border='0' cellpadding='10' cellspacing='0' width='100%')
                                                tr
                                                    td(align='center' valign='top')
                                                        div(style={
                                                            'background-color': '#000000',
                                                            'height': '50px',
                                                            'width': '60%',
                                                            'line-height': '50px'
                                                            })
                                                            b
                                                                a(
                                                                    href='https://api.appcar.com.ar/confirma?id=' + idInvitacion
                                                                    style={
                                                                        'color': '#FFFFFF',
                                                                        'font-size': '1.5em',
                                                                        'font-weight': 'normal',
                                                                        'text-decoration': 'none',
                                                                        'padding': '5px 10px'
                                                                        }
                                                                ) Aceptar Invitaci贸n
                                    tr
                                        td(align='center' valign='top')
                                            table#footer(border='0' cellpadding='20' cellspacing='0' width='100%')
                                                tr
                                                    td(align='center' valign='top' style={'background-color': '#006BFF', height: '20px'})
                                                        p(style={color: '#FFFFFF', 'text-align': 'left', 'padding-left': '20px'}) SnapCar #{fechaHoy} - Todos los derechos reservados