table#footer-separador(border='0' cellpadding='0' cellspacing='0' width='100%')
    tr
        td(align='center' colspan='3' width='100%' style={'background-color': '#efefef', 'height': '20px'})
    tr
        td(align='center' width='45%' style={'background-color': '#efefef'})
            div(style={'border-bottom': '1px solid #c1c1c1', 'padding': '5px 0'})
        td(align='center' width='10%' style={'background-color': '#efefef'})
            img(
                src=baseUrl + '/img/snapcar-email-separador.png'
                width='43'
                height='22'
                alt=''
                style={'display': 'block'}
            )
        td(align='center' width='45%' style={'background-color': '#efefef'})
            div(style={'border-bottom': '1px solid #c1c1c1', 'padding': '5px 0'})
    tr
        td(align='center' colspan='3' width='100%' style={'background-color': '#efefef', 'height': '20px'})
table#sub-footer(border='0' cellpadding='0' cellspacing='0' width='100%')
    tr
        td(align='center' width='60%' style={'background-color': '#efefef'})
            P Descargá nuestra aplicación
        td(align='center' width='20%' style={'background-color': '#efefef'})
            a(href='')
                img(
                    src=baseUrl + '/img/snapcar-email-app-store-120x37.png'
                    width='120'
                    height='37'
                    alt='Disponible en Google Play'
                    style={'display': 'block'}
                )
        td(align='center' width='20%' style={'background-color': '#efefef'})
            a(href='https://play.google.com/store/apps/details?id=com.snapcar')
                img(
                    src=baseUrl + '/img/snapcar-email-google-play-120x37.png'
                    width='120'
                    height='37'
                    alt='Consíguelo en el App Store'
                    style={'display': 'block'}
                )
    tr
        td(align='center' colspan='3' width='100%' style={'background-color': '#efefef'})
            div(style={'border-bottom': '1px solid #c1c1c1', 'padding': '10px 0'})
table#footer(border='0' cellpadding='10' cellspacing='0' width='100%')
    tr
        td(align='center' valign='middle' width='80%' style={'background-color': '#efefef'})
            p(style={'color': '#848484', 'font-size': '12px', 'text-align': 'left', 'padding-left': '10px'}) SnapCar &reg; #{fechaHoy}
        td(align='center' valign='middle' width='10%' style={'background-color': '#efefef'})
            a(href='#')
                img(
                    src=baseUrl + '/img/snapcar-email-facebook.png'
                    width='35'
                    height='35'
                    alt='Seguinos en Facebook'
                    style={'display': 'block'}
                )
        td(align='center' valign='middle' width='10%' style={'background-color': '#efefef'})
            a(href='https://twitter.com/SnapCarArg')
                img(
                    src=baseUrl + '/img/snapcar-email-twitter.png'
                    width='35'
                    height='35'
                    alt='Seguinos en Twitter'
                    style={'display': 'block'}
                )