var fechaHoy = new Date().getFullYear();

doctype html
html(lang=es)
    head
    body
        table#container(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%')
            tr
                td(align='center' valign='top')
                    table#header(border='0' cellpadding='20' cellspacing='0' width='600')
                        tr
                            td(align='center' valign='top')
                                table(border='0' cellpadding='20' cellspacing='0' width='100%')
                                    tr
                                        td(align='center' valign='top')
                                            img(
                                                src='assets/img/snapcar-email-header.png'
                                                width='322'
                                                height='89'
                                                )
                        tr
                            td(align='center' valign='top')
                                table(border='0' cellpadding='20' cellspacing='0' width='100%')
                                    tr
                                        td(align='center' valign='top')
                                            h1 Invitaci贸n SnapCar
                                            p Usted ha sido invitado como conductor adicional por #{nombreUsuario}
                                            p
                                                b Email Usuario #{emailUsuario}
                                            p
                                                b Email Invitado #{emailInvitado}
                                            a(href='https://api.appcar.com.ar/confirma?id=' + idInvitacion) Aceptar Invitaci贸n
                        tr
                            td(align='center' valign='top')
                                table(border='0' cellpadding='20' cellspacing='0' width='100%')
                                    tr
                                        td(align='center' valign='top' style={background: '#006BFF', height: '40px'})
                                            p SnapCar #{fechaHoy}

//
        div#container(style={width: '620px'})
            div#header(style={width: '100%'})
                img(
                    src='assets/img/snapcar-email-header.png'
                    width='322'
                    height='89'
                    )
            div#content(style={width: '100%'})
                h1 Invitaci贸n SnapCar
                p Usted ha sido invitado como conductor adicional por #{nombreUsuario}
                p
                    b Email Usuario #{emailUsuario}
                p
                    b Email Invitado #{emailInvitado}
                a(href='https://api.appcar.com.ar/confirma?id=' + idInvitacion) Aceptar Invitaci贸n
            div#footer(style={background-color: '#006BFF', height: '30px'})