table#footer(border='0' cellpadding='5' cellspacing='0' width='100%')
    tr
        td(align='center' valign='middle' width='80%' style={'background-color': '#006bff'})
            p(style={'color': '#ffffff', 'font-size': '12px', 'text-align': 'left', 'padding-left': '10px'}) SnapCar &reg; #{fechaHoy}
        td(align='center' valign='middle' width='10%' style={'background-color': '#006bff'})
            a(href='#')
                img(
                    src=baseUrl + '/img/snapcar-email-facebook.png'
                    width='40'
                    height='40'
                    title='Seguinos en Facebook'
                    style={'display': 'block'}
                )
        td(align='center' valign='middle' width='10%' style={'background-color': '#006bff'})
            a(href='#')
                img(
                    src=baseUrl + '/img/snapcar-email-twitter.png'
                    width='40'
                    height='40'
                    title='Seguinos en Twitter'
                    style={'display': 'block'}
                )