doctype html
html(lang=es)
    head
    body
        div(style={width: '100%', max-width: '620px'})
            div(style={width: '100%'})
                img(
                    src='assets/img/snapcar-email-header.png'
                    width='322'
                    height='89'
                    )
            div(style={width: '100%'})
                h1 Invitación SnapCar
                p Usted ha sido invitado como conductor adicional por #{nombreUsuario}
                p
                    b Email Usuario #{emailUsuario}
                p
                    b Email Invitado #{emailInvitado}
                a(href='https://api.appcar.com.ar/confirma?id=' + idInvitacion) Aceptar Invitación